/* CSS page that is for all pages on my site */

body {
  margin: 0;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.header {
  background-color: #0a1f44;
  color: white;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Lexend", sans-serif;
  transition: background-color 0.5s ease;
}

.title {
  font-size: 20pt;
  margin: 0;
}

.header-icons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 15px;
}

.header-icons img {
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease;
}

.header-icons a:nth-child(2) img {
  filter: invert(1);
}

.header-icons a img {
  margin-top: 8px;
}

.header-icons img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.icon-group {
  display: flex;
  gap: 15px;
  margin-right: 8px;
}

.icon-group a:first-child img {
  width: 35px;
  height: 35px;
}

#darkToggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#darkToggle:hover {
  transform: scale(1.2);
}

.moon-wrap {
  width: 40px;
  display: flex;
  justify-content: center;
  margin-left: -10px;
}

.image-box1 {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 100px;
}

.square {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 450px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18pt;
  color: black;
  text-decoration: none;
  font-weight: bold;
  overflow: hidden;
  border: 6px solid;
  border-image: linear-gradient(45deg, #F0070A, #3333ff) 1;
  border-radius: 12px;
  transition: background-color 0.5s ease, transform 0.5s ease, border-image 0.6s ease;
}

.square:hover {
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
  border-image: linear-gradient(45deg, #33cccc, #6600cc) 1;
  transform: scale(1.05);
  cursor: pointer;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.label {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  color: black;
  font-family: "Lexend", serif;
  transition: color 0.8s ease, transform 0.5s ease;
}

.label:hover {
  color: #000066;
  transform: scale(1.15);
}

.intro {
  max-width: 900px;
  margin: 50px auto 0px;
  padding: 0 20px;
  font-family: "Lexend", sans-serif;
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
  color: #333;
  transition: color 0.5s ease, border-image 0.5s ease;
}

/* DARK MODE */

.dark-mode {
  background-color: #0b0b0d;
  color: #e6e6e6;
}

.dark-mode .header {
  background-color: #b5b5b5;
}

.dark-mode .intro {
  color: #ddd;
  border-image: linear-gradient(45deg, #00aaff, #7700ff) 1;
}

.dark-mode .label {
  color: #e6e6e6;
}

.dark-mode .square {
  background-color: #1a1a1d;
  border-image: linear-gradient(45deg, #00aaff, #7700ff) 1;
}

.dark-mode .title {
  color: black;
}


/* project pages */

.article {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  background: #f2f2f2;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-family: "Lexend", sans-serif;
  line-height: 1.6;
}


.article h2 {
  margin-top: 0;
  font-size: 28px;
}


.article img,
.article video,
.article model-viewer {
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}


.note-box {
  background-color: white;
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 6px;
  border: 6px solid;
  border-image: linear-gradient(45deg, #F0070A, #3333ff) 1;
  border-radius: 12px;
}


.dark-mode .article {
  background: #1a1a1d;
  color: #e6e6e6;
}

.dark-mode .note-box {
  background-color: #33301f;
  border-left-color: #ffd75e;
}
